/*************general*********/
body{
  font: 400 16px/1 'Lato',Helvetica,Arial,sans-serif;
  color: #080c1c;
}


/*************general*********/


/*************start land page*********/
header{
  height: 100vh;
  width: 100vm;
  background-color: #f50;
  position: relative;
}

header nav.navbar {
  position: absolute;
  z-index: 3;
  width: 100%;
}
header .header_overlay{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}
header .header_video{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
header .header_video video{
  min-width: 100%;
  min-height: 100%;
}
header .header_content{
  position: absolute;
  z-index: 2;
  width: 86%;
  left: 6%;
  top: 22%;
  bottom: 5%;
}
header .header_content h2{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 14px;
}
header .header_content h1{
  font-family: 'Oswald',sans-serif;
  font-size: 114px;
  font-weight: 700;
  color: #fff;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: table;
  margin-bottom: 40px;
  white-space: nowrap;
}
header .header_content p{
  width: 840px;
  max-width: calc(100vw - 40px);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}
header .header_content .btn{
  background-color: #15ae61;
  display: block;
  margin: 16px 0 0;
  width: 280px;
  box-sizing: border-box;
  padding: 0 25px;
  white-space: nowrap;
  line-height: 50px;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
}
header .header_content .btn:hover{background-color: #17c26c;}
header .header_content .btn i{margin-left: 87px; transition: margin-left 0.5s ease-in-out;}
header .header_content .btn:hover i{margin-left: 100px;}

header .info{
  width: 24%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px 0 0;
}
header .info h4{
  margin-bottom: 25px;
  color: #080C1C;
  font-size: 14px;
  font-weight: 700;
  padding: 0 40px 0 40px;
  text-transform: uppercase;
}
header .info .items .item{
  padding: 17px 40px;
  background: #fff;
  transition: .2s all;
  position: relative;
  display: block;
}
header .info .items .item::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  background: #fff;
  box-shadow: -13px 0px 20px rgba(144, 144, 144, 0.31);
  z-index: -2;
  opacity: 0;
  transition: .2s all;
}
header .info .items .item:hover {
text-decoration: none;
  box-shadow: 0 0 20px rgba(144,144,144,0.31);
  padding-left: 25px;
  z-index: 1;
}
header .info .items .item:hover:before {
  opacity: 1;
  left: -10px;
}
header .info .items .item .date {
  color: #9FA2AA;
  font-size: 12px;
  font-weight: 600;
  display: block;
}
header .info .items .item h5 {
  color: #121212;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 3px;
  max-width: 280px;
  width: 100%;
  box-sizing: border-box;
}
/*************end land page*********/


/*************start our clients*********/
#our-client{
  padding: 50px 0px;
  font-size: 0;
}
#our-client .title{
  position: static;
  -webkit-transform: translate(0)!important;
  -moz-transform: translate(0)!important;
  -ms-transform: translate(0)!important;
  -o-transform: translate(0)!important;
  transform: translate(0)!important;
  display: block;
  opacity: 1!important;
  margin-bottom: 30px;
  text-align: center;
}
#our-client .title h2 {
  font-size: 64px;
  font-weight: 700;
}
#our-client .title h4 {
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.5rem;
}
#our-client .our-clients .item{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#our-client .our-clients .item a{
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: -2px;
}
#our-client .our-clients .item a::after{
  content: '';
  position: absolute;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
}
#our-client .our-clients .row:hover .item a::after{
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
}
#our-client .our-clients .item a:first-of-type:hover::after{
  opacity: 0.6;
}
#our-client .our-clients .item a img{
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
#our-client .our-clients .item a:hover img{
  transform: scale(1.2);
}

#our-client .our-clients .item a .top{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  z-index: 2;

}
#our-client .our-clients .item a:hover .top {
  opacity: 1;
  transform: scale(1);
}
#our-client .our-clients .item a .top h3 {
  font-family: 'Lato',sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  text-align: center;
  padding: 0 40px;
}
#our-client .our-clients .item a .top h3 em {
  display: block;
  font-weight: 400;
  font-size: 14px;
  margin-top: 6px;
  line-height: 1.5;
  font-family: 'Lato',sans-serif;
}
#our-client .our-clients .btn{
  display: table;
  margin: 40px auto 0;
  border: 2px solid #000;
  text-transform: uppercase;
  padding: 0 30px;
  background: transparent;
  color: #000;
  line-height: 44px;
  font-size: 18px;
  font-weight: 700;
}
#our-client .our-clients .btn:hover{
  background: #000;
  color: #fff;
}
/*************end our clients*********/


/***************** start our-solution ********************/

#our-solution{
  padding: 10px 0 61px;
}
#our-solution .container{
  max-width: 95%;
}

#our-solution .title{
  text-align: center;
  margin-bottom: 90px;
}
#our-solution .title h2 {
  font-size: 64px;
  color: #080C1C;
  text-transform: capitalize;
  line-height: 1.1;
  margin-bottom: 12px;
  font-weight: 700;
}
#our-solution .title h3 {
  font-size: 36px;
  color: #080C1C;
  font-weight: 300;
  line-height: 1.34;
  max-width: 950px;
  margin: 0 auto;
}
#our-solution .our-solutions .item{
  position: relative;
}
#our-solution .our-solutions .item .item_col{
  padding: 0px;
  margin: 0px;
}
#our-solution .our-solutions .item:nth-child(odd) .item_col:first-child{
  position: relative;
  left: 50%;

}
#our-solution .our-solutions .item:nth-child(odd) .item_col:last-child{
  position: relative;
  right: 50%;
}
#our-solution .our-solutions .solution_image {
  display: block;
  width: 100%;
  height: auto;
}
#our-solution .our-solutions .item_col .solution_text{
  padding: 6rem 4rem;
}
#our-solution .our-solutions .item_col .solution_text .header{
  font-size: 24px;
  font-family: 'Montserrat',sans-serif;
  max-width: 325px;
  line-height: 35px;
  margin-bottom: 0;
  font-weight: 600;
}
#our-solution .our-solutions .item_col .solution_text .desc{
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
}
#our-solution .our-solutions .item_col .solution_text a{
  margin-top: 50px;
  color: #1B5EC9;
  font-size: 18px;
  text-decoration: none;
  display: block;
  width: max-content;
}
#our-solution .our-solutions .item_col .solution_text a i{
  font-size: 12px;
  width: 24px;
  text-align: center;
  transition: margin-left 0.3s;
}
#our-solution .our-solutions .item_col .solution_text a:hover i{
  margin-left: 5px;
}

/***************** end our-solution ********************/

/***************** start order_web********************/
#order_web{
  padding: 50px 0px;
  font-size: 0;
}
#order_web .title{
  position: static;
  -webkit-transform: translate(0)!important;
  -moz-transform: translate(0)!important;
  -ms-transform: translate(0)!important;
  -o-transform: translate(0)!important;
  transform: translate(0)!important;
  display: block;
  opacity: 1!important;
  margin-bottom: 30px;
  text-align: center;
}
#order_web .title h2 {
  font-size: 64px;
  color: #080C1C;
  text-transform: capitalize;
  line-height: 1.1;
  margin-bottom: 12px;
  font-weight: 700;
}
#order_web .title h3 {
  font-size: 36px;
  color: #43454a;
  font-weight: 300;
  line-height: 48px;
  max-width: 800px;
  margin: 0 auto;
}
#order_web .title .btn{
  background-color: #15ae61;
  min-width: 220px;
  box-sizing: border-box;
  line-height: 44px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  padding: 0 2.5rem;
  border-radius: 0.25rem;
  transition-duration: 0.2s;
}
#order_web .title .btn:hover {
  background-color: #17c26c;
}
/***************** end order_web********************/

/***************** start footer********************/
footer{
  text-align: center;
  padding: 30px;
}
footer .item{
  padding: 10px;
}
footer .item .time{
  color: #BFC1C6;
  font-size: 13px;
  font-weight: 700;
}
footer .item h3 {
  color: #101010;
  font-size: 16px;
  font-weight: 700;
  margin-top: 4px;
}
footer .item p {
  color: #101010;
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;
}
footer .copyrights {
  text-align: center;
  color: #43515D;
  font-size: 12px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 300;
  opacity: 0.3;
  margin-top: 36px;
}
/***************** end footer********************/



/*  start responsive  */
 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /*   start our-clients  */
  .our-clients .container {
    max-width: 94%;}
  #our-client .title h2 {
    font-size: 48px;
    color: #080C1C;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.1;
    margin-bottom: 12px;
    text-align: center;
  }
  #our-client .title h4 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1rem;
  }
  #our-client .our-clients .item {
    padding: 0px;
    margin: 4px auto;
    overflow: hidden;
    max-width: 48%;
  }
  #our-client .our-clients .item a::after{opacity: 0.6;}
  #our-client .our-clients .item a .top {opacity: 1;}
  #our-client .our-clients .item a .top h3 {font-size: 24px;}
  #our-client .our-clients .row:hover .item a::after{
    opacity: 0.6;
    background-color: rgba(0,0,0,0.8);
  }
  #our-client .our-clients .item a:first-of-type:hover::after{
    opacity:0;
  }
  #our-client .our-clients .item:last-child{
    display: none;
  }
  /*   end our-clients  */

  /*   start our-solution  */
  #our-solution .container {
    max-width: 100%;
  }
  #our-solution .title h2 {
    font-size: 47px;
    color: #080C1C;
    text-transform: capitalize;
    line-height: 1.1;
    margin-bottom: 12px;
    font-weight: 700;
  }
  #our-solution .title h3 {
    font-size: 23px;
    color: #080C1C;
    font-weight: 300;
    line-height: 1.34;
    max-width: 950px;
    margin: 0 auto;
  }
  #our-solution .our-solutions .item:nth-child(odd) .item_col:first-child {
    position: relative;
    left: 0px;}
  #our-solution .our-solutions .item:nth-child(odd) .item_col:last-child{
    position: relative;
    right: 0px;
  }
  #our-solution .our-solutions .item_col .solution_text {
    padding: 1rem 1rem;
  }
  #our-solution .our-solutions .item_col .solution_text .desc {
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
  }
  #our-solution .our-solutions .item_col .solution_text a {
    margin-top: 19px;
    color: #1B5EC9;
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  /*   end our-solution  */
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /*   start our-clients  */
  .our-clients .container {
    max-width: 94%;}
  #our-client .title h2 {
    font-size: 48px;
    color: #080C1C;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.1;
    margin-bottom: 12px;
    text-align: center;
  }
  #our-client .title h4 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1rem;
  }
  #our-client .our-clients .item {
    padding: 0px;
    margin: 7px auto;
    overflow: hidden;
    max-width: 48%;
  }
  #our-client .our-clients .item a::after{opacity: 0.6;}
  #our-client .our-clients .item a .top {opacity: 1;}
  #our-client .our-clients .item a .top h3 {font-size: 24px;}
  #our-client .our-clients .row:hover .item a::after{
    opacity: 0.6;
    background-color: rgba(0,0,0,0.8);
  }
  #our-client .our-clients .item a:first-of-type:hover::after{
    opacity:0;
  }
  #our-client .our-clients .item:last-child{
    display: none;
  }
  /*   end our-clients  */

  /*   start our-solution  */
  #our-solution .container {
    max-width: 100%;
  }
  #our-solution .title h2 {
    font-size: 47px;
    color: #080C1C;
    text-transform: capitalize;
    line-height: 1.1;
    margin-bottom: 12px;
    font-weight: 700;
  }
  #our-solution .title h3 {
    font-size: 23px;
    color: #080C1C;
    font-weight: 300;
    line-height: 1.34;
    max-width: 950px;
    margin: 0 auto;
  }
  #our-solution .our-solutions .item:nth-child(odd) .item_col:first-child {
    position: relative;
    left: 0px;}
  #our-solution .our-solutions .item:nth-child(odd) .item_col:last-child{
    position: relative;
    right: 0px;
  }
  #our-solution .our-solutions .item_col .solution_text {
    padding: 1rem 1rem;
  }
  #our-solution .our-solutions .item_col .solution_text .desc {
    font-size: 24px;
    line-height: 34px;
  }
  #our-solution .our-solutions .item_col .solution_text a {
    margin-top: 58px;
    color: #1B5EC9;
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  /*   end our-solution  */
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  #our-solution .container {
    max-width: 100%;
  }
  #our-solution .our-solutions .item_col .solution_text {
    padding: 2rem 0rem 0px 2rem;
  }
  #our-solution .our-solutions .item_col .solution_text .header {
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    max-width: 325px;
    line-height: 30px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  #our-solution .our-solutions .item_col .solution_text .desc {
    font-size: 21px;
    line-height: 33px;
    font-weight: 300;
  }
  #our-solution .our-solutions .item_col .solution_text a {
    margin-top: 31px;
    color: #1B5EC9;
    font-size: 17px;
    text-decoration: none;
    display: block;
  }
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  #our-solution .container {
    max-width: 100%;
  }
  #our-solution .our-solutions .item_col .solution_text {
    padding: 2rem 0rem 0px 2rem;
  }
  #our-solution .our-solutions .item_col .solution_text .header {
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    max-width: 325px;
    line-height: 30px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  #our-solution .our-solutions .item_col .solution_text .desc {
    font-size: 21px;
    line-height: 33px;
    font-weight: 300;
  }
  #our-solution .our-solutions .item_col .solution_text a {
    margin-top: 31px;
    color: #1B5EC9;
    font-size: 17px;
    text-decoration: none;
    display: block;
  }
}


/*  end responsive  */